@use "../fonts";
@use "../vars";

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, serif;
  background: vars.$ice-blue;
  width: 100%;
  height: 100vh;
  margin: 0;
}