/* background components */
$cobalt-blue: #071eb3;

/* font colors */
$black: #000;
$white: #fff;
$greyish: #a5a5a5;
$ice-blue: #f9faff;
$p-black: #161616;

/* font bold */
$weight-500: 500;
$weight-600: 600;
$weight-900: 900;
$weight-bold: bold;
$weight-normal: normal;

/* input styles */
$input-border: #d6dcff;

/* input range */
$input-range-background: #f0f2ff;

$normal: normal;