@use "../../vars";

.arrow-container {
  position: relative;
}

.next-page {
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
}

.next-page:hover {
  cursor: pointer;
}

.next-page:active {
  transform: scale(1.2);
}

.dash {
  width: 25px;
  height: 1.5px;
  background-color: vars.$white;
}

.arrow-up-next {
  width: 15px;
  height: 1.5px;
  background-color: vars.$white;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  left: 13px;
}

.arrow-down-next {
  width: 15px;
  height: 1.5px;
  background-color: vars.$white;
  transform: rotate(135deg);
  position: absolute;
  top: 5px;
  left: 13px;
}